@import "navbar.scss";
@import "intro.scss";
@import "footer.scss";
@import "contactUs.scss";
@import "circles.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
   height: 3153px;
}


*{
    margin: 0;
    padding: 0;
}

